<h1>Agent Clients</h1>

<% if notice.present? %>
  <p id="notice" class="bg-info"><%= notice %></p>
<%end%>

<table class="table tabel-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Server Key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agent_clients.each do |agent| %>
      <tr>
        <td><%= agent.name %></td>
        <td><%= agent.server_key %></td>
        <td><%= link_to 'Show', agent, class: 'btn btn-link' %></td>
        <td><%= link_to 'Edit', edit_task_path(agent), class: 'btn btn-link' %></td>
        <td><%= link_to 'Destroy', agent, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agent', new_agent_client_path, class: 'btn btn-default' %>